<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bestillinger</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div id="gridContainer">
        <div id="logo"><a href="/"><img src="Fiksesuppe.png"></a></div>
        <div id="header">Fiksesuppe</div>
        <div id="sidebar">c</div>
        <div id="maincontent">
      <table>
        <thead>
          <tr>
            <th>Device ID</th>
            <th>Device Name</th>
            <th>Device Status</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          {{#each devices}}
            <tr>
              <td>{{this.device_id}}</td>
              <td>{{this.device_name}}</td>
              <td>{{this.device_status}}</td>
              <td>{{this.description}}</td>
              <td><form action="/reseverUtstyr" method="post">
                        <input type="hidden" name="device_id" value="{{this.device_id}}">
                        <input type="date" name="reservation_start_time" placeholder="Reservation start tid">
                        <input type="date" name="reservation_end_time" placeholder="Reservation start tid">
                        <input type="submit" value="Reserver">
                    </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>